@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
	padding: 0;
	margin: 0;
}

header{
	text-align: center;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	min-height: 150px;
}

header .container{
	height: 300px;
}
.logo_flama{
	background-image: url(../img/flama_blanca.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	height: 115px;
	margin: 0 auto;
	top: 1em;

	width: 90px;

	-webkit-animation:	gira 3s alternate infinite;
	   -moz-animation:	gira 3s alternate infinite;
	     -o-animation:	gira 3s alternate infinite;
}

.logo_nombre{
	background-image: url(../img/defire.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	height: 115px;
	margin: 0 auto;
	top: 4.5em;

	width: 240px;
}

.rectangulo{
	position: absolute;
	background-color: rgba(255,255,255,.1);
	top: 52px;
	width: 100%;
	height: 62px;
}

.container{
	height: auto;
	min-height:100%;
	font-family: 'Lobster', cursive;
}

.container:after{
	width: 100%;
	height:0px;
	display:block;
	clear:both;
}

.jumbotron{
	background-color: inherit;
	color: #FFEDEC;
	/*color: #33D162;*/
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
}

/**
 * Navegación
 */

nav {
	min-height: 60px;
	margin: 0;
	z-index: 1;
	/* background-color: #FFF0EF;
	background-color: #33D162;*/
	background-color: rgba(51, 209, 98, 0.8);
	font-family: 'Lobster', cursive;
}

nav::after{
	/*background-color: rgba(178,2,0,.8);*/
	/*background-color: #05FF50; */
	background-color: rgba(5, 255, 80, .5);

	content: " ";
	height: .5em;

	color : #ccc;

	width: 100%;

	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	float: left;
	padding: 0 30px;
	height: auto;
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.nav-link {
	color: #FFEDEC;
	font-size: 1.6em;
	line-height: 2.8em;
}

.nav-link:hover {
	color: #FFEDEC;
	text-decoration: none;
}



/* Pié de Página*/
footer{
	background-color: rgba(200,200,200,.9);
	display: inline-block;

	width: 100%;
	height: 80px;
	bottom:auto;

	text-align: center;
}

footer p{
	display: inline-block;
	margin: 2em;
}










/* KeyFrame */


@-webkit-keyframes gira{
	0% {
		 -webkit-transform: scaleX(-1);
		 -webkit-transform: scaleY(1);
		}

	100% {
		-webkit-transform: scaleY(1);
		-webkit-transform: scaleX(-1);
	}
}


@-moz-keyframes gira{
	0% {
		 	-moz-transform: scaleX(-1);
		 	-moz-transform: scaleY(1);
		}

	100% {
		   -moz-transform: scaleY(1);
		   -moz-transform: scaleX(-1);
	}
}

@-o-keyframes gira{
	0% {
		-o-transform: scaleX(-1);
		-o-transform: scaleY(1);
	}

	100% {
		-o-transform: scaleY(1);
		-o-transform: scaleX(-1);
	}
}

/**
 * Nosotros
 */

.nosotros {
	height: 500px;
	padding-top: 80px;
	background-image: url("../img/bg/pattern8-pattern-61b.png");
}

.rp-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
    inset 0 0 0 4px rgba(0,0,0,.3),
    inset 0 0 0 2px rgba(255,255,255,.6),
    inset 600px 600px 0 -750px rgba(255,255,255,.2),
    0 0 0 16px #65B27D,
    0 0 0 17px rgba(255,255,255,.8),
    0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.rp-img-1 { background-image: url("../img/people/sebastian-silva.jpg") }
.rp-img-2 { background-image: url("../img/people/Matias-Munoz.jpg") }

.rp-info {
	position: absolute;
	background: rgba(178,47,45,.5);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale();
	-moz-transform: scale();
	-ms-transform: scale();
	-o-transform: scale();
	transform: scale();
	-webkit-backface-visibility: hidden;
}

.rp-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.rp-info p {
	color: #fff;
	padding: 10px 5px;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	   -moz-transition: all 1s ease-in-out 0.4s;
	    -ms-transition: all 1s ease-in-out 0.4s;
	     -o-transition: all 1s ease-in-out 0.4s;
	        transition: all 1s ease-in-out 0.4s;
}

.rp-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.rp-info p a:hover {
	color: #fff;
	color: rgba(255,255,255, 0.2);
}

.rp-item:hover { box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1) }

.rp-item:hover .rp-info {
	opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.rp-item:hover .rp-info p { opacity: 1 }

.rp-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.rp-grid:after,
.ch-item:before {
	content: '';
	display: table;
}

.rp-grid:after { clear: both }

.rp-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 50px;
}





/* servicios */

.container_servicios{
	background-image: url(../img/bg_srv.jpg);
	color: white;
	min-height: 400px;
}
.container_servicios h2{
	width: 100%;
	text-align: center;
	margin-top: 0;
	padding-top: 3%;
}
.servicios{
	text-align: center;

}

.srv{
	/*background-color: #33D162;*/
	background-color: rgba(51,209,98,0.8);
	display: inline-block;
	width: 20%;
	margin: 2% 5%;
	vertical-align: top;
}

.descsrv ul {
	padding: 0;
	list-style: none;
}